/* <system section="theme" selected="journal-pink"> */
@import "/css/theme/journal-pink/journal-pink.css";
/* </system> */

/* <system section="background" selected="pattern-07"> */
body{ background-image: url('/images/theme/backgrounds/2014/pattern-07.png'); background-repeat: repeat; background-attachment: scroll; background-position: 0 0; background-size: 315px 315px; } @media (-webkit-min-device-pixel-ratio: 2) { body {background-image: url('/images/theme/backgrounds/2014/pattern-07@2x.png');} }
/* </system> */

/*****グローバルメニュー****/
#menu{
    width: 100%;
    background: #343838;
    margin: 10px auto;
}
#menu-inner{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background: #343838;
}
#menu-btn{display: none;}
#menu-content{
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
}
#menu-content > li{
    position: relative;
    float: left;
    height: 100%;
    text-align: center;
    width: 16.65%;/*項目増えたらここ変える*/
}
#menu-content > li > a{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    background: #343838;
    color: #fff;
    font-size: 100%;
    text-decoration: none;
    z-index: 2;
}
#menu-content > li > a:hover{
    background: #343838;
    color: #fff;
}
#menu-content > li > a > .blogicon-chevron-down{margin-right: 5px;}
/*２階層目*/
#menu-content > li > ul.second-content{
    visibility: hidden;
    position: absolute;
    top: 0;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    z-index: -1;
}
#menu-content > li:hover > ul.second-content{
    visibility: visible;
    top: 40px;
    z-index: 1;
    transition: all .3s;
}
#menu-content > li > ul.second-content > li{
    text-align: center;
    width: 180px;
    height: 40px;
}
#menu-content > li > ul.second-content > li > a{
    display: block;
    line-height: 40px;
    background: #343838;
    color: #fff;
    font-size: 100%;
    text-decoration: none;
}
#menu-content > li > ul.second-content > li > a:hover{
    background: #343838;
    color: #fff;
}
/*******トグルメニュー*********/
@media screen and (max-width:960px){
#menu-inner{
    width: 100%;
    height: auto;
    opacity: 0.8;
}
#btn-content{text-align: right;}
#menu-btn{
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    background: #343838;
    color: #fff;
    font-size: 100%;
}
#menu-content{
    display: none;
    width: 100%;
}
#menu-content > li{
    width: 100%;
    height: 40px;
    float: none;
}
#menu-content > li > a{
    width: 100%;
    line-height: 40px;
    padding: 0;
    text-decoration: none;
}
/*２階層目*/
#menu-content > li:hover > ul.second-content{display: none;}
#menu-content > li > a > .blogicon-chevron-down{display: none;}
}

.archive-header-category .archive-heading::after  {
    content: " に関する記事一覧";/*説明文*/
    font-size: 1.2rem;/*カテゴリ名より小さく*/
}




/* ボタン全体 */
.flowbtn{
font-family:'Arial',sans-serif;/* 好きなフォントを指定してね */
border-radius:4px;
position:relative;
display:inline-block;
width:45px;
height:41px;
font-size:20px;
color:#fff!important;
transition:.5s;
text-decoration:none;
text-align:  center;
box-shadow:0 1px 2px #999;
}
.flowbtn i{
position:relative;
bottom:-2px;
}
/* Twitter */
.fl_tw1{
background:#55acee;
}
/* Facebook */
.fl_fb1{
background:#3b5998;
}
/* はてブ */
.fl_hb1{
background:#1ba5dc;
}
/* Pocket */
.fl_pk1{
background:#ef3f56;
}
/* Feedly */
.fl_fd1{
background:#6cc655;
}
/* YouTube */
.fl_yu1{
background:#fc0d1c;
}
/* LINE */
.fl_li1{
background:#00c300;
}
/* 問い合わせ */
.fl_ma1{
background:#f3981d;	
}
/* Instagram紫グラデ背景 */
.insta_btn1{
background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
overflow:hidden;
}
/* Instagramオレンジグラデ背景 */
.insta_btn1:before{
content: '';
position:absolute;
top:33px;
left:-20px;
width:80px;
height:50px;
background:-webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
/* ボタン内テキスト調整 */
.flowbtn div{
font-size:8px;	
font-weight:bold;
letter-spacing:0;
position:relative;
bottom:-5px;
}
/* ボタンマウスホバー時 */
/*.flowbtn:hover{
-webkit-transform:translateY(-5px);
-ms-transform:translateY(-5px);
transform:translateY(-5px);
text-decoration:none;
}*/
/* ulタグの内側余白を０にする */
ul.snsbtniti{
padding:0!important;
}
/* ボタン全体の位置調整 */
.snsbtniti{
display:flex;
flex-flow:row wrap;
/*justify-content:space-around;*/
}
/* ボタン同士の余白調整 */
.snsbtniti li{
flex:0 0 33%;
text-align:center!important;
}

/* To Top */
.toTop-nav {
position: fixed;
bottom: 10px;
right: 10px;
display: -webkit-flex;
display: flex;
padding: 0;
margin: 0;
z-index: 999; }
.toTop-nav li {
list-style-type: none;
background: rgba(0, 0, 0, 0.3);
border-radius: 50px;
text-align: center; }
.toTop-nav li:first-child {
margin-right: 10px; }
.toTop-nav li a {
display: block;
width: 50px;
height: 50px;
font-size: 30px;
line-height: 50px; }
.toTop-nav li a {
color: #fff;
text-decoration: none; }
.toTop-nav li a:visited {
color: #fff; }
.toTop-nav li a:hover {
color: #fff;
text-decoration: underline; }
.toTop-nav li a:active, .toTop-nav li a:focus {
color: #fff; }
.toTop-nav li a:hover {
text-decoration: none; }

/*1つ1つの関連記事ボックス*/
li.urllist-item.related-entries-item {
    margin: 15px 0;
    padding: 10px;
    background: #eeeeee;
    border-bottom: none;
}

/*関連記事の画像まわり余白調整*/
.urllist-with-thumbnails li .urllist-image {
    margin: 0 10px 0 0;
}

/*関連記事のタイトル*/
a.urllist-title-link.related-entries-title-link.urllist-title.related-entries-title {
    text-decoration: none;
    color: #525252;
    font-weight: bold;
}

/*関連記事のタイトルホバー*/
a.urllist-title-link.related-entries-title-link.urllist-title.related-entries-title:hover {
    color: silver;
}

/*関連記事の説明*/
.urllist-entry-body.related-entries-entry-body {
    color: #8f8f8f;
    font-size: 13px;
    margin-top: 3px;
}

/*関連記事の日付*/
.hatena-urllist .urllist-date-link a {
    display: inline-block;
    background: #93c4cf;
    color: #fff;
    line-height: 1;
    padding: 4px 9px;
    margin-bottom: 3px;
    border-radius: 4px;
    font-size: 11px;
    letter-spacing: 1px;
    font-style: normal;
       text-decoration: none;
}

.hatena-module-body {
  text-align: left;
}

/*記事エントリ一覧のカスタマイズ*/
section {
border: 0.5px solid #dcdcdc;
padding:20px;
box-shadow: 3px 3px 5px rgba(128,128,128,0.8);
}
